body {
    background-color: #101820FF;
}

p {
    color: white;
    font-size: 5vw;
    font-family: 'Shadows Into Light', cursive;
}

#textCont {
    position: relative;
    margin: auto;
    width: 50vw;
    height: 50vh;
    top: 5vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center;
}
#vs {
    grid-column: 2;
}
#player {
    grid-column: 1;
}
#computer {
    grid-column: 3;
}

#result {
    grid-row: 2;
    margin-top: 1vh;
    grid-column: 1/4;
}

#elements {
    position: relative;
    top: 15vh;
    display: flex;
}

#play {
    margin: auto;
    width: 10vw;
    height: 8vw;
}

#rock {
    position: relative;
    left: 30vh;
    background: transparent;
    border: transparent;
}
#paper {
    margin: auto;
    background: transparent;
    border: transparent;
}
#scissors {
    position: relative;
    right: 30vh;
    background: transparent;
    border: transparent;
}

#rockImg {
    width: 100px;
    height: 100px;
    border-style: solid;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgb(246, 214, 171);
    background-color: #F2AA4CFF;
}

#rockImg:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 20px rgb(246, 214, 171);
}

#paperImg {
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgb(246, 214, 171);
    background-color: #F2AA4CFF;
}
#paperImg:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 20px rgb(246, 214, 171);
}

#scissorsImg {
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgb(246, 214, 171);
    background-color: #F2AA4CFF;
}
#scissorsImg:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 20px rgb(246, 214, 171);
}

#menuCont {
    position: relative;
    margin-top: 20vh;
}