body {
    background-color: rgb(212, 212, 212);
}


#textCont {
    position: relative;
    top: 5vh;
    display: flex;
}
#result {
    margin: auto;
}
#player {
    position: relative;
    left: 30vw;
}
#computer {
    position: relative;
    right: -60vw;
}

#elements {
    position: relative;
    top: 25vh;
    display: flex;
}

#player {
    grid-column: 1;
}

#result {
    grid-column: 2;
}

#computer {
    grid-column: 3;
}

#play {
    margin: auto;
    width: 10vw;
    height: 8vw;
}



#rock {
    position: relative;
    left: 30vh;
    background: transparent;
    border: transparent;
}
#paper {
    margin: auto;
    background: transparent;
    border: transparent;
}
#scissors {
    position: relative;
    right: 30vh;
    background: transparent;
    border: transparent;
}

#rockImg {
    width: 100px;
    height: 100px;
    border-style: solid;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 50%;
    box-shadow: 10px 10px 5px grey;
}

#rockImg:hover {
    transform: scale(1.2);
    box-shadow: 12px 12px 10px grey;
}

#paperImg {
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 10px 10px 5px grey;
}
#paperImg:hover {
    transform: scale(1.2);
    box-shadow: 12px 12px 10px grey;
}

#scissorsImg {
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 10px 10px 5px grey;
}
#scissorsImg:hover {
    transform: scale(1.2);
    box-shadow: 12px 12px 10px grey;
}
