body {
    background-color: rgb(209, 209, 209);
}

p {
    color: white;
    font-size: 5vw;
    font-family: 'Shadows Into Light', cursive;
}

#general-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 100px;
    justify-items: stretch;
    align-items: center;
}

#textCont {
    grid-column: 2/4;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    justify-items: center;
    align-content: start;
}
#player {
    grid-column: 1;
    grid-row: 1;
}

#you {
    grid-row: 2;
    grid-column: 1;
}

#to {
    grid-row: 4;
    grid-column: 2;
    color: grey;
}

#pCounter {
    grid-row: 4;
    grid-column: 1;
    color: black;
}
#cCounter {
    grid-row: 4;
    grid-column: 3;
    color: black;
}

#pc {
    grid-row: 2;
    grid-column: 3;
}

#vs {
    grid-row: 1;
    grid-column: 2;
}

#computer {
    grid-column: 3;
    grid-row: 1;
}

#result {
    grid-row: 3;
    grid-column: 1/4;
}

#restart {
    width: 100px;
    height: 100px;
    grid-column: 4/5;
    grid-row: 1/4;
    background: transparent;
    border: transparent;
}

#restartImg {
    height: 100px;
}
#restartImg:hover{
    animation-name: rotation;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes rotation {
    100% {
        transform: rotate(-360deg);
    }
}

#elements {
    grid-column: 1;
    grid-row: 1/5;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    row-gap: 100px;
}

#rock {
    width: 100px;
    height: 100px;
    grid-row: 1;
    background: transparent;
    border: transparent;
}
#paper {
    width: 100px;
    height: 100px;
    grid-row: 2;
    background: transparent;
    border: transparent;
}
#scissors {
    width: 100px;
    height: 100px;
    grid-row: 3;
    background: transparent;
    border: transparent;
}

#rockImg {
    width: 100px;
    height: 100px;
    border-style: solid;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 50%;
    background-color: rgb(157, 183, 204);
}

#rockImg:hover {
    box-shadow: 0px 0px 20px rgb(193, 255, 255);
    color: white;
    animation-name: scale;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}


#paperImg {
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(157, 183, 204);
}
#paperImg:hover {
    box-shadow: 0px 0px 20px rgb(193, 255, 255);
    color: white;
    animation-name: scale;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

#scissorsImg {
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(157, 183, 204);
}
#scissorsImg:hover {
    box-shadow: 0px 0px 20px rgb(193, 255, 255);
    color: white;
    animation-name: scale;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

@keyframes scale {
    100% {
        transform: scale(1.15);
    }
}

#menuCont {
    position: relative;
    margin-top: 20vh;
}